.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.cart-container {
  margin: 10px auto;
  background-color: rgb(235, 227, 217);
  padding: 20px 0;
}
.chose-one{
  height:40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  background-color:rgb(112, 112, 255) ;
  color:  rgb(250, 235, 199);
  margin: 10px;
}
@media (max-width: 575.98px) {
  .product-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 576px) and (max-width: 900px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
