.cart {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.cart-image img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.delete-button {
  margin-left: 20px;
  padding:8px 10px;
  border-radius: 50%;
  border: none;
  background-color: rgb(156, 40, 40);
  color: rgb(250, 235, 199);
  cursor: pointer;
}
.delete-button:hover{
  opacity: 0.9;
  color:white;
}
