.product {
  width: 300px;
  margin: 0 auto;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 1px 3px grey;
  position: relative;
}
.product img {
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.product-details {
  text-align: left;
  padding: 0 50px;
}
.product-title {
  color: rgb(101, 101, 235);
  cursor: pointer;
}
.product-category {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: rgb(95, 92, 92);
}
.product-category small {
  font-size: 16px;
  color: rgb(34, 33, 33);
}
.product-price {
  padding-bottom: 30px;
  color: rgb(95, 92, 92);
}
.product-price small {
  color: rgb(36, 34, 34);
}
.cart-button {
  height: 40px;
  width: 150px;
  border-radius: 4px;
  border: none;
  color: rgb(112, 112, 255);
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  background-color: rgb(250, 235, 199);
}
.cart-button:hover{
  opacity: 0.8;
}